body{
    margin : 0;
    box-sizing: border-box;
}

.wrapper{
    background-image : url("../../../static/images/FlowerRain.jpg");
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100vh;
}